<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website gym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/"></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src="d93f9c65397547.5af2fc5f3a71e.gif"  width="1300px" height="500px"> -->
            <img src="../static/dribble_2.gif" alt="Example Image">
          </div>
          <div class="carousel-item">
            <!-- <img src="young-strong-body-builder-boy-gym_849906-15055 (1).avif" width="1300px" height="500px"> -->
            <img src="../static/d93f9c65397547.5af2fc5f3a71e.gif">
          </div>
          <div class="carousel-item">
            <img src="../static/young-strong-body-builder-boy-gym_849906-15055 (1).avif" width="1300px" height="500px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <!-- <img src="d93f9c65397547.5af2fc5f3a71e.gif"  width="1300px" height="500px"> -->
            <div class="carousel-caption d-none d-md-block">
              <h5>WELCOME TO GYM HOME PAGE</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- <img src="young-strong-body-builder-boy-gym_849906-15055 (1).avif" width="1300px" height="500px"> -->
            <div class="carousel-caption d-none d-md-block">
              <h5>OUR GYM</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <img src="dribble_2.gif" width="1300px" height="500px"> -->
            <div class="carousel-caption d-none d-md-block">
              <h5>CYCLE OF GYM</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="../static/pexels-photo-841130.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="../static/weights-next-to-barbell-in-a-gym-generative-ai-photo.jpg" width="300px" height="180px">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="../static/photo-1534438327276-14e5300c3a48.jfif">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
       </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="newsletter">
          <h2>SUBSCRIBE TO OUR QUARTERLY NEWSLETTER</h2>
          <form>
            <input type="email" placeholder="Enter your email address" />
            <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
          </form>
        </div>
        <div class="footer-content">
          <div class="footer-logo">
            <h3>ARCHIACT</h3>
            <p>Archiact VR, 400-555 W Hastings<br />St. Vancouver, BC V6B, Canada</p>
            <p><a href="mailto:admin@archiactvr.com">admin@archiactvr.com</a></p>
          </div>
          <div class="footer-links">
            <div>
              <h4>ARCHIACT</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div>
              <h4>SERVICES</h4>
              <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Publishing</a></li>
                <li><a href="#">Solutions</a></li>
              </ul>
            </div>
            <div>
              <h4>EVENTS</h4>
              <ul>
                <li><a href="#">CVR</a></li>
                <li><a href="#">Game Jams</a></li>
              </ul>
            </div>
            <div>
              <h4>FOLLOW</h4>
              <ul class="social-icons">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Pinterest</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <ul>
            <li><a href="#">TERMS & CONDITIONS</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
             <li><a href="#">SITEMAP</a></li>
          </ul>
          <p>Copyright &copy; 2016 Archiact Interactive</p>
        </div>
      </footer>
      <!-- ------------abouth us-------------->
       <h1><b><center>ABOUT US</center></b></h1> 
      <div class="header">
        COME TO OUR GYM CENTRE WE GIVE YOU SOME DISCOUNTS <span>20% off</span> with code <span>HYDRANTDAD</span>
      </div>
    
      <div class="about-container">
        <div class="about-text">
          <h1>NICE TO MEET YOU</h1>
          <p>We're John and Jai, co-founders of Hydrant. Our journey started when both us (John, a scientist, and Jai, a finance consultant) were trying to solve the same problem on opposite sides of the US. After a friend connected us, the rest is history.</p>
        </div>
        <div class="about-image">
          <img src="../static/pexels-photo-841130.jpeg" alt="About Image">
        </div>
      </div>
    
      <div class="cta-bar"> 
        <span>Free consultance</span>
        <span>special dicount</span>
        <span>20% off every order</span>
        <span>diet plans</span>
      </div>
    
      <div class="sticky-banner">Get $5 Off!</div>
      <div class="container">
        <!-- Membership Form -->
        <div class="membership-card">
            <h2>Membership</h2>
            <p>$10.00 USD / Monthly</p>
            <form>
                <input type="email" placeholder="Email Address" required>
                <input type="text" placeholder="Full Name" required>
                <input type="text" placeholder="Card Number" required>
                <button type="submit">Join Now</button>
            </form>
        </div>
        <!-- About Section -->
        <div class="about-section">
            <img src="../static/gym-membership-card-design-template-85b31912fbcdd0a194e4921aea78e4ca_screen.jpg" alt="Jacquelyn Image">
            <h3>Hi, I'm Jacquelyn!</h3>
            <p>When I stopped dancing professionally, I struggled to find a workout I liked. So I started creating my own workouts that combined the strength-building aspects of functional fitness.</p>
        </div>
    </div>
     




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
</body>
</html> 